<section class="inner">
	<div class="shop_footer">
		<div class="container">
			<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
				<h2 class="section-ttl">会員情報編集</h2>
				<% if @customer.errors.any? %>
				  <%= @customer.errors.count %>件のエラーが発生しました
				  <% @customer.errors.full_messages.each do |message| %>
				    <%= message %>
				  <% end %>
				<% end %>
				<%= form_with model: @customer, local:true do |f| %>
					<table class="customer_info customer_form" align="center">
						<tbody>
							<tr>
								<td>名前(姓)</td>
								<td><%= f.text_field :first_name, :placeholder =>"#{@customer.first_name}" %></td>
							</tr>
							<tr>
								<td>名前(名)</td>
								<td><%= f.text_field :last_name, :placeholder =>"#{@customer.last_name}" %></td>
							</tr>
							<tr>
								<td><%= f.label :email, "メールアドレス" %></td>
								<td><%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@customer.email}" %></td>
							</tr>
							<tr>
								<td><%= f.label :postal_code, "郵便番号(7桁)" %></td>
								<td><%= f.text_field :postal_code, :placeholder =>"#{@customer.postal_code}", class: "jpostal_code" %></td>
							</tr>
							<tr>
								<td><%= f.label :address, "住所(郵便番号から自動入力)" %></td>
								<td><%= f.text_field :address, :placeholder =>"#{@customer.address}", class: "jpostal_address" %></td>
							</tr>
							<tr>
								<td><%= f.label :telephone_number, "電話番号(10or11桁)" %></td>
								<td><%= f.text_field :telephone_number, :placeholder =>"#{@customer.telephone_number}" %></td>
							</tr>
							<tr>
								<td><%= f.submit "編集内容を保存する", class: "btn btn-primary" %></td>
								<td><%= link_to "退会する", confirm_unsubscribe_path, class: "btn btn-danger" %></td>
							</tr>
						</tbody>
					</table>
				<% end %>
			</div>
		</div>
	</div>
</section>
