<section class="inner">
	<div class="container">
		<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
			<div class="shop_footer">

      	<div class="mb3">
      		<h3>店舗新規登録</h3>
        	<%= render 'form', shop: @shop, url: admin_shops_path, submit: '登録' %>
      	</div>

      	<div class="inner">
          <div class="row mb-2">
            <div class="col-md-6">
              <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">

                <%# @genres.each do |genre| %>
                  <h4><%#= link_to genre.name, admin_shop_path( shop_genre_id : @genres.id ) %></h4>
                <%# end %>

                  <h4><%= link_to "北海道地方", "/admin/shops?shop_genre_id=1" %></h4>
                  <h4><%= link_to "東北地方", "/admin/shops?shop_genre_id=2" %></h4>
                  <h4><%= link_to "関東地方", "/admin/shops?shop_genre_id=3" %></h4>
                  <h4><%= link_to "中部地方", "/admin/shops?shop_genre_id=4" %></h4>
                  <h4><%= link_to "関西地方", "/admin/shops?shop_genre_id=5" %></h4>
                  <h4><%= link_to "中国地方", "/admin/shops?shop_genre_id=6" %></h4>
                  <h4><%= link_to "四国地方", "/admin/shops?shop_genre_id=7" %></h4>
                  <h4><%= link_to "九州・沖縄地方", "/admin/shops?shop_genre_id=8" %></h4>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
              		<% if params[:shop_genre_id] %>
              			<h2 class="section-ttl"><%= @genre.name %>の店舗一覧 (全<%= @all_shops_count %>件)</h2>
              		<% else %>
              			<h2 class="section-ttl">店舗一覧 (全<%= @all_shops_count %>件)</h2>
              		<% end %>
              		<% if @shops.first %>
              			<%= render 'admin/shops/index', shops: @shops %>
              			<%= paginate @shops %>
              		<% else %>
              			<h3>対応する店舗はありませんでした。</h3>
              		<% end %>
                </div>
              </div>
            </div>
          </div>
      	</div>

			</div>
   	</div>
	</div>
</section>