<section class="inner">
	<div class="container">
		<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
			<div class="shop_footer">

			<h2 class="section-ttl">店舗詳細</h2>
			<div class="flex">
				<table class="admin_item_info">
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>店舗品名</td>
							<td><%= @shop.name %></td>
						</tr>
						<tr>
							<td>郵便番号</td>
							<td><%= @shop.postal_code %></td>
						</tr>
						<tr>
							<td>住所</td>
							<td><%= @shop.address %></td>
						</tr>
						<tr>
							<td>電話番号</td>
							<td><%= @shop.telephone_number %></td>
						</tr>
						<tr>
							<td>ジャンル</td>
							<td><%= link_to @shop.shop_genre.name, admin_shops_path(shop_genre_id: @shop.shop_genre_id), class: "underline" %></td>
						</tr>
					</tbody>
				</table>
				<div class="flex align-center pl5">
					<%= link_to "編集する", edit_admin_shop_path(@shop), class: "btn btn-success" %>
				</div>
			</div>

			</div>
   	</div>
	</div>
</section>
