<section class="inner">
	<h2 class="section-ttl">店舗詳細</h2>
	<div class="flex">
		<table class="admin_item_info">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>店舗品名</td>
					<td><%= @shop.name %></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%= @shop.postal_code %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= @shop.address %></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%= @shop.telephone_number %></td>
				</tr>
				<tr>
					<td>ジャンル</td>
					<td><%= @shop.shop_genre.name %></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
