<section class="inner">
	<div class="shop_footer">
	<h2 class="section-ttl">注文情報入力</h2>
	<% if flash[:error] %>
		<div id="error_explanation">
			<p><%= flash[:error] %></p>
		</div>
	<% end %>

	<%= form_with model: @order, url: orders_path, local:true do |f| %>
		<div class="field mb2">
			<h3>支払い方法</h3>
	  	<%= f.radio_button :payment_method, "credit_card", :checked => true %>
	  	<%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %> <!-- クレジットカード -->
	  	<%= f.radio_button :payment_method, "transfer" %>
	  	<%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %> <!-- 銀行振込 -->
		</div>
		<h3>予約店舗</h3>

    <%= f.label :name, "店舗名" %>
    <%#= f.select :name, [["北海道店",1],["青森店",2],["岩手店",3],["宮城店",4],["秋田店",5],["山形店",6],["福島店",7],
     ["茨城店",8],["栃木店",9],["群馬店",10],["埼玉店",11],["千葉店",12],["東京店",13],["神奈川店",14],
     ["新潟店",15],["富山店",16],["石川店",17],["福井店",18],["山梨店",19],["長野店",20],
     ["岐阜店",21],["静岡店",22],["愛知店",23],["三重店",24],
     ["滋賀店",25],["京都店",26],["大阪店",27],["兵庫店",28],["奈良店",29],["和歌山店",30],
     ["鳥取店",31],["島根店",32],["岡山店",33],["広島店",34],["山口店",35],
     ["徳島店",36],["香川店",37],["愛媛店",38],["高知店",39],
     ["福岡店",40],["佐賀店",41],["長崎店",42],["熊本店",43],["大分店",44],["宮崎店",45],["鹿児島店",46],
     ["沖縄店",47]], include_blank: "-    " %>

  	<%= f.select :shop_id, @shop.map{ |shop| [shop.name, shop.id] } %>

		<%= f.select :time, [*(10..20)], include_blank: "-    " %>
		<%= f.label :time, "時" %>
		<%= f.select :minute, [["00", 0],["10", 1], ["20", 2], ["30", 3], ["40", 4], ["50", 5]], include_blank: "-    " %>
		<%= f.label :minute, "分" %>

	  <p>時間を選択して下さい。</p>
		<%= f.submit "注文確認画面に進む", class: "btn btn-primary submit_to_confirm_order" %>
	<% end %>
	</div>
</section>
