<section class="inner">
	<div class="shop_footer">
		<div class="container">
			<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

				<h2 class="section-ttl">注文履歴詳細</h2>
				<table class="order_info mb3 has_border" align="center">
					<tr>
						<td>注文日</td>
						<td><%= @order.created_at_jst.strftime('%Y/%m/%d') %></td>
					</tr>
					<tr>
						<td>受け渡し店舗</td>
						<td>
							<%= @order.shop.name %>
						</td>
					</tr>
					<tr>
						<td>支払い方法</td>
						<td><%= @order.payment_method_i18n %></td>
					</tr>
				<div class="flex">
						<% @order.order_details.includes(:item).each do |order_detail| %>
							<% item = order_detail.item %>
							<tr>
								<td>
									<%= attachment_image_tag item, :image, format: "jpeg", fallback: "no-image.png", size: "100x100", class: "cart_item_image" %>
								</br><%= link_to item.name, item_path(item) %></td>
							</tr>
							<tr>
								<td>単価(税込)</td>
								<td><%= order_detail.price %>円</td>
							</tr>
							<tr>
								<td>個数</td>
								<td><%= order_detail.amount %>点</td>
							</tr>
							<tr>
								<td>合計金額</td>
								<td><%= order_detail.subtotal %>円</td>
							</tr>
						<% end %>
					</table>
				</div>

			</div>
		</div>
	</div>
</section>
