<section class="wrapper flex">
	<div class="content">
  	<div class="position-relative overflow-hidden p-3 p-md-5 mb-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">ようこそ<br>MEUへ!</h1>
        <p class="lead font-weight-normal">
          このサイトは、ハンバーガー販売のECサイトになります。<br>
  				会員でない方も商品の閲覧はできますが、<br>
  				購入には会員登録が必要になります。</p>
        <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-secondary" %>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <% @genres.each do |genre| %>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><%= genre.name %></h4>
          </div>
          <div class="card-body">
            <img src="/assets/watermark.jpg" alt="" width="200" height="200">
            <button type="button" class="btn btn-lg btn-block btn-outline-primary"><%= link_to genre.name, items_path(genre_id: genre.id) %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <h1 class="bg-info text-white">新着商品</h1>
    <div class="card-deck mb-3 text-center">
      <div class="row">
          <% @item.each do |item| %>
            <tr>
              <div class="list-box ml-5">
                <%= link_to item_path(item) do %>
                <td><%= attachment_image_tag item, :image, format: "jpeg", size: "100x100", fallback: "no_image.jpg" %></td>
                <div class="list-comment">
                  <p><%= item.name %></p>
                  <p><%= item.with_tax_price %>円</p>
                </div>
                <% end %>
              </div>
            </tr>
          <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="bg-warning text-white">オススメ商品</h1>
    <div class="card-deck mb-3 text-center">
      <div class="row">
          <% @items.each do |item| %>
            <tr>
              <div class="list-box ml-5">
                <%= link_to item_path(item) do %>
                <td><%= attachment_image_tag item, :image, format: "jpeg", size: "100x100", fallback: "no_image.jpg" %></td>
                <div class="list-comment">
                  <p><%= item.name %></p>
                  <p><%= item.with_tax_price %>円</p>
                </div>
                <% end %>
              </div>
            </tr>
          <% end %>
      </div>
    </div>
  </div>

</section>