<section class="wrapper flex">
	<div class="content">
  	<div class="position-relative overflow-hidden p-3 p-md-5 mb-3 text-center">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">ようこそ<br>MEUへ!</h1>
        <p class="lead font-weight-normal">
          このサイトは、ハンバーガー販売のECサイトになります。<br>
          <% if customer_signed_in? %>
          <div class="w-100 h-50">
          <img src="<%= asset_path("party_cracker_kamifubuki.png") %>" width="100" height="100" class="left" />
          皆様のご好評により0周年！
  				<img src="<%= asset_path("party_cracker_kamifubuki.1.png") %>" width="100" height="100" class="right" /></p></p>
          <% else %>
  				<p class="lead font-weight-normal">会員でない方も商品の閲覧はできますが、<br>
  				購入には会員登録が必要になります。</p>
        <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-secondary", class: "gradient1" %>
        <% end %>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </div>

  <div>
    <ul class="slider">
      <li><img src="<%= asset_path("photo-1502741224143-90386d7f8c82.jpg") %>" alt=""></li>
      <li><img src="<%= asset_path("fried-chicken-690039_960_720.jpg") %>" alt=""></li>
      <li><img src="<%= asset_path("photo-1594212699903-ec8a3eca50f5.jpg") %>" alt=""></li>
      <li><img src="<%= asset_path("photo-1518977676601-b53f82aba655.jpg") %>" alt=""></li>
    </ul>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <% @genres.each do |genre| %>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><%= genre.name %></h4>
          </div>
          <div class="card-body">
            <%= link_to items_path(genre_id: genre.id) do %>
                <%= attachment_image_tag genre, :genres_image_id, format: "jpeg", size: "100x100", fallback: "no_image.jpg" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <h1>新着商品</h1>
    <div class="card-deck mb-3 text-center">
      <div class="row">
          <% @item.each do |item| %>
            <tr>
              <div class="list-box ml-5">
                <%= link_to item_path(item) do %>
                <td><%= attachment_image_tag item, :image, format: "jpeg", size: "100x100", fallback: "no_image.jpg" %></td>
                <% end %>
              </div>
            </tr>
          <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>オススメ商品</h1>
    <div class="card-deck mb-3 text-center">
      <div class="row">
          <% @items.each do |item| %>
            <tr>
              <div class="list-box ml-5">
                <%= link_to item_path(item) do %>
                <td><%= attachment_image_tag item, :image, format: "jpeg", size: "100x100", fallback: "no_image.jpg" %></td>
                <% end %>
              </div>
            </tr>
          <% end %>
      </div>
    </div>
  </div>

</section>
